body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f8fafc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

@media (min-width: 576px) and (max-width:768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}